body{ background-color: #4d0477; text-align: center;}
div{ background-color: #5b33cac3; padding: 40px;}
#p1{ font-size: 50px; font-weight: bold; color:#d40872;}
#p2{ font-size: 50px; font-weight: bold; color:#ebb7d9;}
h1{color: #271f23;}